body { 
    background-image: url("blackBG.jpg"); 
}

.menu1 {
    display: inline-block;
    color:rgb(8, 180, 211);
    font-size: 2rem;
    list-style-type: none;
    text-align: center;
    font-family:"sans serif", "Times New Roman", "serif"; 
}

.menu1 li {
    display: inline-block;
    line-height: 5rem;
    width:16rem; 
}

.menu1 #realisation {
    display: inline-block;
    margin-left: 5rem;
}

.menu1 li:hover {
    display: inline-block;
    background-image: linear-gradient(to bottom right,
    yellow 25%,
    black 50%,
    blue 75% );
    color:white;
}

.menu2 {
    display: inline-block;
    color:rgb(255, 255, 255);
    font-size: 2rem;
    padding-left: 8rem;

    margin:0;
    list-style-type: none; }

.menu2 li:hover {  
    opacity: 0.5;
}

#monprofil {
    display:flex;
    margin: 3rem;
    color: #dd8b10ee;
    padding-left: 1.5rem;    
}
    
#monprofil p {
    font-size: 1.5rem;
    width: 35rem;
}
    
#monprofil #t2 {
        font-weight: bolder;  }

#moncv {
    position: relative;
    left: 30rem;
    top: 3rem; }

#mail {
    font-size: 2rem;
    position:relative;
    top: 3rem;
    left: 12rem;
    color: white;
    overflow: visible;  }

#mail .message {
    position: absolute;
    font-size: 5rem;
    left:28rem;
    top: 10rem;
    text-align: center;
    vertical-align: middle;
    list-style-type: none;  }

#mail .message #name {
    background-image: linear-gradient(to bottom right,
    rgba(255, 255, 0, 0.74) 25%,
    black 50%,
    blue 75% );
    animation: clignote 1.5s ease-in infinite;  }

#mail .message #tel { text-decoration: underline;  }

#mail .message #msg {  
    position: absolute;
    left: 12rem;
    top: 25rem;
    text-decoration: none ;  }

@keyframes clignote {  
    50% { opacity: 0.3; }
}
