body { 
    background-image: url("blackBG.jpg"); 
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 5px;
    margin: 0;
}

/* menu navigation */
.menu {
    display: inline;
    padding:20px;
    width: 200px;
}
.menu li{
    display: inline;
    color:rgb(8, 180, 211);
    font-size: 2rem;
    list-style-type: none;
    text-align: center;
    font-family:"sans serif", "Times New Roman", "serif"; 
}

.menu li:hover {
    background-image: linear-gradient(to bottom right,
    yellow 25%,
    black 50%,
    blue 75% );
    color:white;
}
    /* style particulier contacts */
.menu2 {
    display:block;
    float: right;
    padding-right: 15px;
    color:rgb(255, 255, 255);
    font-size: 2rem;
    list-style-type: none; 
}
.menu2 li:hover {  
    opacity: 0.5;
}

/* fenetres animations */
.container {
    display: flex;
    width: 100%;
    height: 29rem;
}
    /* animation 1 gauche */
#anim1 {
    background-color: beige;
    width: 33%;
}

    /* mon profil centre */
#monprofil {
    width: 34%;
    font-size: 1.5rem;
    text-align: left;    
    color: #eb910cee;
}
#text2 {
    font-weight: bolder;  
    }

    /* animation 2 droite */
#anim2 {
    width: 33%;
    background-image: url("mountain2.jpg");
    background-repeat: repeat-x;
    background-attachment: fixed;
    animation: 5s paralax infinite;  
}
@keyframes paralax {
    100% {
    background-position: 0 100%,
    0px 25%,
    500px 50%,
    1000px 100%,
    400px 0; 
        }  
}

/* section mon CV */
#moncv {
    position: absolute;
    left: 30rem;
    top: 13%; 
    opacity: 0.85;
}

/* section contacts */
.message {
    display: flex;
}
#monmail {
    position: absolute;
    top: 550px;
    left: 730px;
    height: 29rem;
    color: white;
    font-size: 3.5rem;
    text-align: center;
    list-style-type: none;  
}
#name {
    background-image: linear-gradient(to bottom right,
    rgba(255, 255, 0, 0.74) 25%,
    black 50%,
    blue 75% );
    animation: clignote 1.5s ease-in infinite;  
}
#msg {  
    padding-top: 50px;
    left: 23%;
    text-decoration: underline;
}
@keyframes clignote {  
    50% { opacity: 0.3; }
}